# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Virtualenvs
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs & System
.DS_Store
.idea/
.vscode/
